<!DOCTYPE html>
<html>
<head>
  <title>Splurty</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div class="col-xs-3">
			<div class="circle">
  				<br />
  				Greetings,
  				<br />
  				stupid
  				<br />
  				humans.
			</div>
		</div>
		<div class="col-xs-4 slogan">
			An interactive conversation about MasterCaster
		</div>
		<div class="col-xs-5 links">
			<%= link_to 'Contribute', '#' %>
			<%= link_to 'About', '#' %>
		</div>
	</header>
	<hr />
	<br class="clear" />

<div class="container">
	<%= yield %>
</div>

<div class="footer">
	<div class="container">
		<div class="col-xs-6">
			<%= link_to "Take it away, Maestro", "#", :class => 'next-quote' %>
		</div>
		<div class="col-xs-6 footer-blurb">
			Created by Professor Robbie at the <a href="http://pinkmicrophones.com">Pink Microphones Laboratory</a> with considerable help from <a href="http://thefirehoseproject.com">the FirehoseProject.</a><br/>
			For more of Maestro, <a href="https://itunes.apple.com/us/podcast/mastercaster!-pink-microphones/id1035151026">listen to MasterCaster on iTunes!</a>
		</div>
	</div>
</div>

</body>
</html>
